.footer{
    height: 311px;
    padding: 40px;
}

.footer .top{
    height: 48px;
}

.footer .top .left{
    height: inherit;
}

.footer .top .left a{
    width: fit-content;
    height: inherit;
    padding: 14px 16px 0 16px;
}

.footer .top .left a:hover{
    background-color: gray !important;
    border-radius: 8px;
}

.footer .top .left a p{
    font-family: ObjectSans;
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.footer .bottom{
    height: 151px;
    margin-top: 8px;
    padding: 22px;
    border-top: 1px solid rgba(255, 255, 255, 0.125);
}

.footer .bottom .left{
    height: 82px;
}

.footer .bottom .left .logo svg{
    width: 325px;
    height: 54px;
}

.footer .bottom .left .text{
    margin-left: 40px;
}

.footer .bottom .left .text p{
    font-family: NotoSans;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.footer .bottom .left .text p a{
    text-decoration: underline;
}

.footer .bottom .left .text p:nth-of-type(2){
    margin-top: -18px;
}

.footer .bottom .left .text a{
    text-decoration: none;
    font-family: NotoSans;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.827);
    margin-right: 8px;
}

.footer .bottom .left .text a:hover{
    color: rgba(255, 255, 255, 0.933);
}

.footer .bottom .right{
    width: 25%;
    height: 82px;
}

.footer .bottom .right span{
    width: 52px;
    height: 40px;
    background-color: gray;
    border-radius: 50px;
}