.header{
    height: 128px;
}

.header .topheader{
    height: 72px;
}

.header .topheader nav div a svg{
    width: 200px;
    height: 56px;
    object-fit: cover;
    margin-top: -6px;
    margin-left: -12px;
}

.header nav div div ul li a{
    font-family: NotoSans-Bold;
    font-size: 14px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.705);
}

.header nav div div ul li ul li img{
    width: 32px;
    height: 32px;
    margin-top: 15px;
    display: inline-block;
}

.header nav div div ul li ul li h2{
    font-family: NotoSans-Bold;
    font-size: 14px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.894);
    display: inline-block;
}

.header nav div div ul li ul li p{
    font-family: NotoSans-Bold;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.48);
    margin-left: 35px;
    margin-top: -15px;
}

.header nav div div form{
    height: 52px;
}

.header .topheader nav.navbar div div ul li:hover{
    background-color: rgb(35,37,43);
    border-radius: 4px;
}

.header .topheader nav.navbar div div ul li:hover span:nth-of-type(1){
    color: white;
}

.header .topheader nav.navbar div div ul li ul{
    width: 320px;
}

.header .topheader nav.navbar div div ul li ul .top li:nth-of-type(1){
    height: 48px;
    margin-bottom: 20px;
}

.header .topheader nav.navbar div div ul li ul .top li:nth-of-type(1) a{
   height: inherit;
   line-height: 40px;
   font-family: ObjectSans;
   font-size: 16px;
   font-weight: 400;
}

.header .topheader nav.navbar div div ul li ul div li{
    height: 48px;
}

.header .topheader nav.navbar div div ul li ul div li a{
    line-height: 40px;
}

.header .topheader nav.navbar div div ul li ul .bottom{
    width: 100%;
    height: 60px;
    background-color: rgb(37, 40, 45);
}

.header .topheader nav.navbar div div ul li ul .bottom li{
    height: 48px;
}

.header .topheader nav.navbar div div ul li ul .bottom li a{
    height: 48px;
    display: inline-block;
    margin-top: 8px;
}

.header .topheader nav.navbar div div ul li ul .bottom li:hover a{
    height: inherit;
    background-color: rgba(255, 255, 255, 0.06) !important;
}


.header .nav form input{
    border: unset;
}

.header .nav form input::placeholder{
    font-family: ObjectSans;
    font-size: 14px;
    font-weight: 400;
    color: rgba(181, 174, 174, 0.72);
}

.header .nav form input:hover{
    background-color: rgba(65, 61, 61, 0.72);
}

.header .nav form input:hover::placeholder{
    color: rgb(255,255,255);
}

.header .nav form span{
    font-size: 18px;
}

.header>.nav>li{
    width: 15.5%;
    background-color: rgba(255, 255, 255, 0.06);
}

.header>.nav>li:hover{
    background-color: rgba(65, 61, 61, 0.72);
}

.header>.nav>li>a>span{
    font-family: ObjectSans;
    font-size: 14px;
    font-weight: 400;
    color: rgba(181, 174, 174, 0.72);
}

.header>.nav>li:hover>a>span{
    color: rgb(255,255,255);
}


.header>.nav>li>ul{
    width: 300px;
}

.header>.nav>li>ul>li{
    height: 48px;
}

.header>.nav>li>ul>li>a{
    height: inherit;
    line-height: 36px;
    font-family: NotoSans;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255,255,255, 0.72);
}

.header>.nav>li>ul>li:hover>a{
    color: rgb(255,255,255);
}

.header>.nav>li>ul>li>a>span{
    font-size: 18px;
}